.scrollBar {
  scroll-behavior: smooth;
}

.scrollBar::-webkit-scrollbar {
  width: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.scrollBar.scrolled::-webkit-scrollbar-thumb {
  background: #e84262;
}
